{% load static %}

<link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
<link href="{% static 'libs/esport soccer/css/library/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/esport soccer/dev-assets/preloader-default.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/esport soccer/dev-assets/demo-switcher.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/esport soccer/css-min/soccer.min.css' %}" rel="stylesheet" type="text/css" />