{% load static %}

<footer class="footer">
    <div class="wrapper-overfllow">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="footer-left">
                        <div class="wrap">
                            <a href="" class="foot-logo"><img src="{% static 'landing/img/la gran ocho sin fondo.png' %}" alt="footer-logo" width="80" height="80"></a>
                            <p>Bienvenidos al torneo de la Gran 8. Disfrutá junto a tus amigos del campeonato más importante de todos! Apoyá a tu equipo junto a F8.</p>
                            <ul class="foot-left-menu">
                                <li><a href="{% url 'landing:index' %}">Inicio</a></li>
                                <li><a href="{% url 'landing:equipos' %}">Equipos</a></li>
                                <li><a href="{% url 'landing:novedades' %}">Novedades</a></li>
                                <li><a href="{% url 'landing:proximos_partidos' %}">Proximos partidos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-lg-offset-1">
                    <div class="foot-news">
                        
                    </div>
                </div>
                <div class=" col-lg-3 col-md-4 col-sm-12">
                    <div class="foot-contact">
                        <h4>Contactanos</h4>
                        <ul class="contact-list">
                            <li><i class="fa fa-flag" aria-hidden="true"></i><span>276 Upper Parliament Street, Liverpool L8, Great Britain</span></li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:team@email.com">team@email.com</a></li>
                            <li class="phone"><i class="fa fa-phone" aria-hidden="true"></i><span>+54 9 3804 66-4444</span></li>
                        </ul>
                        <ul class="socials">
                            <li><a href="https://www.facebook.com/lagran8"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/lagran8ok/"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>