{% load static %}

<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/jquery-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/jquery.sticky.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/jquery.jcarousel.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/jcarousel.connected-carousels.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/owl.carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/progressbar.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/jquery.bracket.min.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/chartist.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/Chart.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/fancySelect.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/isotope.pkgd.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/imagesloaded.pkgd.js' %}"></script>

<script type="text/javascript" src="{% static 'libs/esport soccer/js/jquery.team-coundown.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/matches-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/matches_broadcast_listing.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/news-line.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/match_galery.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/main-club-gallery.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/product-slider.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/circle-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/standings.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/shop-price-filter.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/timeseries.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/radar.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/slider.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/preloader.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/diagram.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/bi-polar-diagram.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/label-placement-diagram.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/donut-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/animate-donut.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/advanced-smil.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/svg-path.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/pick-circle.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/horizontal-bar.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/gauge-chart.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/stacked-bar.js' %}"></script>

<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/chartist-plugin-legend.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/chartist-plugin-threshold.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/library/chartist-plugin-pointlabels.js' %}"></script>

<script type="text/javascript" src="{% static 'libs/esport soccer/js/treshold.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/visible.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/anchor.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/landing_carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/landing_sport_standings.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/twitterslider.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/champions.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/landing_mainnews_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/carousel.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/video_slider.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/footer_slides.js' %}"></script>
<script type="text/javascript" src="{% static 'libs/esport soccer/js/player_test.js' %}"></script>

<script type="text/javascript" src="{% static 'libs/esport soccer/js/main.js' %}"></script>