{% load static %}

<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
      <!-- Inicio -->
      <li class="nav-item">
        <a href="{% url 'administration:index' %}" class="nav-link active">
          <i class="nav-icon fas fa-home"></i>
          <p>
            Inicio
          </p>
        </a>
        <!-- Equipo -->
        <li class="nav-item menu-open">
          <a href="" class="nav-link active">
            <i class="nav-icon fas fa-shield-alt"></i>
            <p>
               Equipo
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-eye nav-icon"></i>
                <p>Ver Equipo</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- Jugadores -->
        <li class="nav-item menu-open">
          <a href="" class="nav-link active">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Jugadores
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'administration:dplayer_new' %}" class="nav-link">
                <i class="fas fa-plus-circle nav-icon"></i>
                <p>Agregar jugador</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'administration:dplayers' %}" class="nav-link">
                <i class="far fa-eye nav-icon"></i>
                <p>Ver jugadores</p>
              </a>
            </li>
          </ul>
        </li>
        <!-- Torneos -->
        <li class="nav-item menu-open">
          <a href="" class="nav-link active">
            <i class="nav-icon fas fa-trophy"></i>
            <p>
              Torneos
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-eye nav-icon"></i>
                <p>Ver torneos</p>
              </a>
            </li>
          </ul>
        </li>
      </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->