{% extends 'administration/base/list.html' %}
{% load static %}

{% block add_button_list %}
    <a href="{% url 'administration:teams_new' %}" class="btn btn-primary"> <i class="fas fa-plus-square"></i> Agregar Nuevo Equipo</a>
{% endblock %}

{% block table_headers %}
    <th>Nombre de equipo</th>
    <th>Delegado</th>
    <th>Habilitacion</th>
    <th>Logo</th>
    <th>Acciones</th>
{% endblock %}

{% block table_content %}
    <td>{{obj.name}}</td>
    <td>{{obj.delegated.user.first_name}} {{obj.delegated.user.last_name}}</td>
    <td>
        {% if obj.active %}
            Si
        {% else %}
            No
        {% endif %}
    </td>
    <td><img src="{{obj.logo.url}}" alt="" height="30vh"></td>
    <td>
        <a href=""><i class="fas fa-eye"></i></a>
        <a href="{% url 'administration:teams_edit' obj.id %}"><i class="fas fa-edit"></i></a>
        <a href="{% url 'administration:teams_delete' obj.id %}"><i class="fas fa-trash-alt"></i></a>
        {% if obj.active %}
            <a href="{% url 'administration:activar_equipo' obj.id %}"><i class="fas fa-times-circle"></i></a>
        {% else %}
            <a href="{% url 'administration:activar_equipo' obj.id %}"><i class="fas fa-check-circle"></i></a>
        {% endif %}
    </td>
{% endblock %}