{% extends 'administration/base/list.html' %}
{% load static %}

{% block table_headers %}
    <th>Nombre de equipo</th>
    <th>Delegado</th>
    <th>Habilitacion</th>
    <th>Logo</th>
    <th>Acciones</th>
{% endblock %}

{% block table_content %}
    <td>{{obj.name}}</td>
    <td>{{obj.delegated.user.first_name}} {{obj.delegated.user.last_name}}</td>
    <td>
        {% if obj.active %}
            Si
        {% else %}
            No
        {% endif %}
    </td>
    <td><img src="{{obj.logo.url}}" alt="" height="30vh"></td>
    <td>
        <a href=""><i class="fas fa-eye"></i></a>
        <a href="{% url 'administration:teams_edit' obj.id %}"><i class="fas fa-edit"></i></a>
        <a href="{% url 'administration:teams_delete' obj.id %}"><i class="fas fa-trash-alt"></i></a>
    </td>
{% endblock %}