{% extends 'administration/base/list.html' %}
{% load static %}

{% block table_headers %}
    <th>Nombre de equipo</th>
    <th>Delegado</th>
    <th>Habilitacion</th>
    <th>Acciones</th>
{% endblock %}

{% block table_content %}
    <td>{{obj.name}}</td>
    <td>{{obj.delegated.user.first_name}} {{obj.delegated.user.last_name}}</td>
    <td>
        {% if obj.active %}
            Si
        {% else %}
            No
        {% endif %}
    </td>
    <td>
        <a href=""><i class="fas fa-user-edit"></i></a>
        <a href=""><i class="fas fa-user-times"></i></a>
    </td>
{% endblock %}