{% extends 'administration/base/list.html' %}
{% load static %}

{% block add_button_list %}
    <a href="{% url 'administration:delegates_new' %}" class="btn btn-primary"> <i class="fas fa-plus-square"></i> Agregar Nuevo Delegado</a>
{% endblock %}

{% block table_headers %}
    <th>Usuario</th>
    <th>Nombre/s</th>
    <th>Apellido</th>
    <th>Habilitado</th>
    <th>Acciones</th>
{% endblock %}

{% block table_content %}
    <td>{{obj.user.username}}</td>
    <td>{{obj.user.first_name}}</td>
    <td>{{obj.user.last_name}}</td>
    {% if obj.active == True %}
        <td>Si</td>
    {% endif %}
    {% if obj.active == False %}
        <td>No</td>
    {% endif %}
    <td>
        {% if obj.active %}
            <a href="{% url 'administration:change_delegate_status' obj.id %}"><i class="fas fa-times-circle"></i></a>
        {% else %}
            <a href="{% url 'administration:change_delegate_status' obj.id %}"><i class="fas fa-check-circle"></i></a>
        {% endif %}
        <a href="{% url 'administration:delegates_edit' obj.id %}"><i class="fas fa-user-edit"></i></a>
        <a href="{% url 'administration:delegates_delete' obj.id %}"><i class="fas fa-user-times"></i></a>
    </td>
{% endblock %}