{% extends 'landing/base/home.html' %}
{% load static %}

{% block content %}
<div class="content">
    <div class="container last-hockey-macthes">
        <div class="row">
            <div class="col-md-12 overflow-scroll">
                <h6>Goleadores</h6>
                <table>
                    <tbody><tr>
                        <th>Equipo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>PJ</th>
                        <th>PG</th>
                        <th>PE</th>
                        <th>PP</th>
                        <th>G</th>
                        <th>om</th>
                        <th>or</th>
                        <th>to</th>
                        <th>G</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="matches.html">
                                <span class="team">
                                    <img src="images/common/team-logo1.png" width="30" height="30" alt="main-match-icon">
                                </span>
                                <span>Team 1</span>
                            </a>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="matches.html">
                                <span class="team">
                                    <img src="images/common/team-logo2.png" width="30" height="30" alt="main-match-icon">
                                </span>
                                <span>Team 2</span>
                            </a>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="matches.html">
                                <span class="team">
                                    <img src="images/common/team-logo3.png" width="30" height="30" alt="main-match-icon">
                                </span>
                                <span>Team 3</span>
                            </a>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="matches.html">
                                <span class="team">
                                    <img src="images/common/team-logo4.png" width="30" height="30" alt="main-match-icon">
                                </span>
                                <span>Team 4</span>
                            </a>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                </tbody></table>
            </div>
        </div>
    </div>
    <div class="container last-hockey-macthes">
        <div class="row">
            <div class="col-md-12 overflow-scroll">
                <h6>Valla menos vencida</h6>
                <table>
                    <tbody><tr>
                        <th>competitor</th>
                        <th>gp</th>
                        <th>gs</th>
                        <th>min</th>
                        <th>fgm-a</th>
                        <th>fg%</th>
                        <th>3pm-a</th>
                        <th>3p%</th>
                        <th>om</th>
                        <th>or</th>
                        <th>to</th>
                        <th>pts</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="matches.html">
                                <span class="team">
                                    <img src="images/common/team-logo1.png" width="30" height="30" alt="main-match-icon">
                                </span>
                                <span>Team 1</span>
                            </a>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="matches.html">
                                <span class="team">
                                    <img src="images/common/team-logo2.png" width="30" height="30" alt="main-match-icon">
                                </span>
                                <span>Team 2</span>
                            </a>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="matches.html">
                                <span class="team">
                                    <img src="images/common/team-logo3.png" width="30" height="30" alt="main-match-icon">
                                </span>
                                <span>Team 3</span>
                            </a>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="matches.html">
                                <span class="team">
                                    <img src="images/common/team-logo4.png" width="30" height="30" alt="main-match-icon">
                                </span>
                                <span>Team 4</span>
                            </a>
                        </td>
                        <td>2</td>
                        <td>55</td>
                        <td>62</td>
                        <td>5</td>
                        <td>0</td>
                        <td>8</td>
                        <td>89</td>
                        <td>7</td>
                        <td>2</td>
                        <td>2</td>
                        <td><span>12</span></td>
                    </tr>
                </tbody></table>
            </div>
        </div>
    </div>
</div>
{% endblock %}