{% extends 'administration/base/home.html' %}
{% load static %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{numero_delegados}}</h3>
  
                  <p>Delegados de equipos</p>
                </div>
                <div class="icon">
                  <i class="fas fa-user-tie"></i>
                </div>
                <a href="{% url 'administration:delegates' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{jugadores_registrados}}</h3>
  
                  <p>Jugadores Registrados</p>
                </div>
                <div class="icon">
                  <i class="fas fa-running"></i>
                </div>
                <a href="{% url 'administration:players' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{equipos_habilitados}}</h3>
  
                  <p>Equipos habilitados</p>
                </div>
                <div class="icon">
                  <i class="fas fa-shield-alt"></i>
                </div>
                <a href="{% url 'administration:teams' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{numero_administradores}}</h3>
  
                  <p>Administradores del sitio</p>
                </div>
                <div class="icon">
                  <i class="fas fa-user-cog"></i>
                </div>
                <a href="{% url 'administration:administrators' %}" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}