{% load static %}

<div class="main-slider-section">
    <div class="main-slider">
        <div id="main-slider" class="carousel slide" data-ride="carousel" data-interval="4000">
            <div class="carousel-inner" role="listbox">
                {% for match in banner_played %}
                    <div class="item">
                        <div class="main-slider-caption">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="match-date">{{ match.date_of_match }} / {{ match.hour_of_match }} / {{ match.field }}</div>
                                        <div class="team"> {{ match.local_team.name }}
                                            <div class="big-count">
                                                {{ match.goals_local }}:{{ match.goals_away }}
                                            </div>
                                            {{ match.away_team.name }}
                                        </div>                                    
                                        <div class="booking">
                                            <a href="{% url 'landing:fixture' %}">
                                                Todos los partidos
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Controls -->
            <a class="nav-arrow left-arrow" href="#main-slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                <span class="sr-only"></span>
            </a>
            <a class="nav-arrow right-arrow" href="#main-slider" role="button" data-slide="next">
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <span class="sr-only"></span>
            </a>

            <div class="event-nav">
                <div class="container">
                    <div class="row no-gutter carousel-indicators">

                        {% for match in banner_played %}
                            <div class="col-sm-4 active" data-slide-to="{{ match.index }}" data-target="#main-slider">
                                <a href="" class="nav-item">
                                    <span class="championship">{{ match.tournament.name }}</span>
                                    <span class="teams-wrap">
                                        <span class="team"><img src="{{ match.local_team.logo.url }}" alt="team-logo"></span>
                                        <span class="score">
                                            <span>{{ match.goals_local }}:{{ match.goals_away }}</span>
                                        </span>

                                        <span class="team1">
                                            <span><img src="{{ match.away_team.logo.url }}" alt="team-logo"></span>
                                        </span>
                                    </span>
                                    {% if match.penalties %}
                                        <span class="game-result">({{ match.local_penalties }}-{{ match.away_penalties }}) penales</span>
                                    {% endif %}
                                </a>
                            </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>