{% extends 'administration/base/list.html' %}
{% load static %}

{% block add_button_list %}
    <a href="{% url 'administration:noticias_new' %}" class="btn btn-primary"> <i class="fas fa-plus-square"></i> Agregar Nueva Novedad</a>
{% endblock %}

{% block table_headers %}
    <th>ID</th>
    <th>Fecha de creación</th>
    <th>Titulo</th>
    <th>Acciones</th>
{% endblock %}

{% block table_content %}
    <td>{{obj.id}}</td>
    <td>{{obj.date_created}}</td>
    <td>{{obj.title}}</td>
    <td>
        <a href=""><i class="fas fa-marker"></i></a>
        <a href="{% url 'administration:noticias_delete' obj.id %}"><i class="fas fa-trash-alt"></i></a>
    </td>
{% endblock %}