{% extends 'administration/base/home.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        {% if form.errors %}
        <div class="row">
            <div class="col-md-12">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-exclamation-triangle"></i>
                    Advertencia
                  </h3>
                </div>
                <!-- /.card-header -->
                {% for error in form.errors %}
                <div class="card-body">
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h5><i class="icon fas fa-ban"></i> {{error}}</h5>
                    {{form.errors}}
                  </div>
                </div>
                {% endfor %}
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        {% endif %}
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
        <!-- general form elements -->
            <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title">{{form_title}}</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label>{{form2.teams_second_round.label}}</label>
                        {{form2.teams_second_round|add_class:'form-control'}}
                    </div>
                    <div class="form-group">
                        <label>{{form2.groups.label}}</label>
                        {{form2.groups|add_class:'form-control'}}
                    </div>
                    <div class="form-group">
                      <label>{{form.days.label}}</label>
                      {{form.days}}
                    </div>
                    <div class="form-group">
                      <label>{{form.hour_init.label}}</label>
                      {{form.hour_init|add_class:'form-control'}}
                    </div>
                    <div class="form-group">
                      <label>{{form.hour_end.label}}</label>
                      {{form.hour_end|add_class:'form-control'}}
                    </div>
                    <div class="form-group">
                      <label>{{form.fields.label}}</label>
                      {{form.fields|add_class:'form-control'}}
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            {{form2.away_goal|add_class:'form-check-input'}}
                            <label>{{form2.away_goal.label}}</label>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button>
                </div>
                </form>
            </div>
        <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}

{% block js %}
  <script>
    $(function(){
      //Initialize Select2 Elements
      $('.select2').select2()

      //Initialize Select2 Elements
      $('.select2bs4').select2({
        theme: 'bootstrap4'
      })
    });
  </script>
{% endblock %}